target/
!.mvn/wrapper/maven-wrapper.jar
.history/

# Gradle
.idea/
gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
**/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#Gradle
.gradle/
bin/
!jobs-zowe-server-package/src/main/resources/bin

### Mac ###
.DS_Store

### Temporary Certificate###
*.p12

# VS Code
.vscode/

# Test files
.apiml
.ehcache-diskstore.lock
invalidated*.data
